# **Курс "Програмування на мові Python"**

##### Викладачі:
##### Борисенко Павло Борисович
##### Щьоголєв Максим Олегович

## **Практичне зайняття №4**
### Тема: "Цикли. Робота зі списками"

Керівництво будівельної компанії вирішило підняти заробітні плати всім своїм працівникам на 30%. В залежності від спеціалізації та стажу працівники мають різну заробітну плату. Для підготовки звіту необхідно розрахувати нову заробітну плату для працівників компанії, а також суму індексації.

Написати програму, яка буде генерувати таблицю для цього звіту. Початкова заробітна плата працівників подана у списку salary_list (у тисячах гривень).

1. Для підрахунку невідомих значень та їх виведення повинен використовуватись цикл.

2. Зарплата після індексації та сума індексації для працівників різних категорій повинні зберігатись у двох окремих списках. Порядок значень у кожному з нових списків повинен відповідати порядку значень у списку salary_list.

3. Кожне підраховане числове значення має бути округлене до сотих. Для цього слід використати функцію round(). Приклад застосування цієї функції:

```
value_new = round(2.3741, 2)
print(value_new)
```

4. Дані повинні виводитись у вигляді:

**Salary table:**

**7.3 9.49 2.19**

**8.5 11.05 2.55**

**...**

salary_list = [[7.3, 8.5, 11, 12.7, 15.2, 21.12, 27.35]]

In [1]:
### **Завдання 1 (1,5 бали)**
salary_list = [7.3, 8.5, 11, 12.7, 15.2, 21.12, 27.35]
length = len(salary_list)
salary2_list=[round(i*0.3+i,2) for i in salary_list]
ind=[round(salary2_list[i] - salary_list[i], 2) for i in range(length)]
print('Salary table:')
for i in range(len(salary_list)):
    print(salary_list[i], '\t', salary2_list[i], '\t', ind[i])

Salary table:
7.3 	 9.49 	 2.19
8.5 	 11.05 	 2.55
11 	 14.3 	 3.3
12.7 	 16.51 	 3.81
15.2 	 19.76 	 4.56
21.12 	 27.46 	 6.34
27.35 	 35.55 	 8.2

Salary table:
7.3 	 9.49 	 2.19
8.5 	 11.05 	 2.55
11 	 14.3 	 3.3
12.7 	 16.51 	 3.81
15.2 	 19.76 	 4.56
21.12 	 27.46 	 6.34
27.35 	 35.55 	 8.2

In [27]:
### **Завдання 2 (1,5 бали)**
list1 = input().split()
if len(list1) >= 2: 
    for i in range(0, (len(list1)-2)):
        print(list1[i], end= ', ')
    print(list1[-2], 'and', list1[-1])
else:
    print(list1[0])

Перелічуючи деякі предмети у тексті, ми ставимо між ними коми. В англійській мові слово and зазвичай ставлять між останнім та передостаннім словом у переліку (за виключенням випадку, коли у списку всього одне слово). Розглянемо 4 приклади:

**apples**

**apples and oranges**

**apples, oranges and bananas**

**apples, oranges, bananas and lemons**

Напишіть програму, яка:

1. отримує на вхід перелік деяких предметів, які користувач вводить з клавіатури, та записує їх у список у вигляді окремих елементів;

2. виводить ці предмети у тій самій послідовності, в якій вони були введені, розставляючи коми та слово and так, як показано у прикладі.

апельсин, мандарин and яблоко